<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Facebook</title>
    <link rel="stylesheet" href="../static/facebook.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
<div class="blue col-xs-12">

</div>
<div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <p class="text-info text-center">{{ message }}</p>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div class="row justify-content-left">
        <div class="col-5">

        </div>

        <div class="container-fluid" style="margin-top: 2rem">

            <div class="row justify-content-left">
                <div class="col-8">


                    <h4 class="content col-md-12">Facebook helps you connect and share with the people in
                        your
                        life.</h4>
                    <div class="card col-md-8">

                        <div class="card-header ">
                            <h1 class="text-color">Create an Account</h1>
                            <h5 class="text-color">its Free and always will be</h5>
                        </div>

                            <div class="card-body col-md-12">

                                <form method="post" action="/register">
                                    <div class="form-row col-md-10">
                                        <div class="form-group col-md-6">
                                            <label for="exampleInputEmail1"></label>
                                            <input type="name" name="name" class="form-control" id="exampleInputEmail1"
                                                   aria-describedby="emailHelp"
                                                   placeholder="First Name">
                                            {% for error in form.email.errors %}
                                                <span style="color: red;">[{{ error }}]</span>
                                            {% endfor %}

                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="exampleInputPassword1"></label>
                                            <input type="name" name="surname" class="form-control"
                                                   id="exampleInputPassword1"
                                                   placeholder="surname">
                                            {% for error in form.surname.errors %}
                                                <span style="color: red;">[{{ error }}]</span>
                                            {% endfor %}
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="exampleInputPassword1"></label>
                                            <input type="email" name="email" class="form-control"
                                                   id="exampleInputPassword2"
                                                   placeholder="Mobile Number or Email address">
                                            {% for error in form.email.errors %}
                                                <span style="color: red;">[{{ error }}]</span>
                                            {% endfor %}
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="exampleInputPassword1"></label>
                                            <input type="password" name="password" class="form-control"
                                                   id="exampleInputPassword3"
                                                   placeholder="New Password">
                                            {% for error in form.password.errors %}
                                                <span style="color: red;">[{{ error }}]</span>
                                            {% endfor %}
                                        </div>

                                        <button type="submit" class="btn btn-primary btn-md float-right"
                                                style="margin-right: 0rem">Register
                                        </button>
{#                                        <div class="forgot float-left">#}
{#                                            <a href="form_reset"><p>Forgot Password</p></a>#}
                                        </div>
                                    </div>
                                </form>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a href="login" class="reset col-md-5" style="margin-right: 10rem">I have an account Login.</a>
</body>
</html>