<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../static/facebook.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<div class="container" style="margin-top: 3rem">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <p class="text-info text-center">{{ message }}</p>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div class="row justify-content-center">
        <div class="col-12">

        </div>
        <div class="col-5">
            <div class="card">
                <div class="card-header">
                    <h2 align="center" class="text-center"> Login</h2>
                </div>
                <div class="card-body">


                    <form method="post" action="/login">
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="text-center">Email address</label>
                            <input type="email" name="email" title="Enter Your Email" style="color: white" class="form-control" id="exampleInputEmail1"
                                   aria-describedby="emailHelp" placeholder="Enter email">
                            {% for error in form.email.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                            <small id="emailHelp" class="form-text text-muted ">We'll never share your email with anyone
                                else.
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="text-center">Password</label>
                            <input type="password" name="password" title="Enter your Password" style="color: white" class="form-control" id="exampleInputPassword1"
                                   placeholder="Enter Password">
                            {% for error in form.password.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" style="margin-top: 1rem">
                            <label class="form-check-label" for="exampleCheck1" style="margin-top: 1rem">Check me out</label>
                        </div>
                        <button type="submit" class="btn btn-primary float-right" style="margin-right: 2rem">Log In
                        </button>
                    <div class="forgot float-left">
                                            <a href="form_reset"><p>Forgot Password</p></a>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>


<a href="register" class="reset_password col-md-5" style="margin-right: 10rem">Register</a>
</body>
</html>